<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Steam</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="${'Foi criado o produto:' + nome + ' ' + desc + ' ' + preco + ' ' + img + ' ' + categoria}"  /><br>
    <a href="/index.html">Voltar para o inicio</a>
</body>
</html>